.footer {
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--corFundo2);
    box-shadow: var(--sombra);
    padding: 10px 30px;
    border-top: 1px solid var(--corBordas);
    height: 80px;
}


.footer p {
    color: var(--corTxt3);
}